<div class="container__form_login"> 
    <form class="login-form" action="" method="post">
        <h1 class="login-form__name">Well met!</h1>
        {{{inputLogin}}}
        {{{inputPassword}}}
        <div class="login-form__buttons">
            {{{buttonForm}}}
            <br>
            {{{link}}}
        </div>
    </form> 
</div>
