<html lang="en">
   {{> components/head style="../auth/authStyle.scss" titlePage="Login" }}
  <body>
    <main>
      <div class="container__form_login">
          {{> auth/components/form-login }}    
      </div>
    </main>
  </body>
</html>
