@import "../styles/index.scss";

.container__greed {
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.all-chats {
    background-color: white;
    &__header {
        display: flex;
        flex-direction: column;
        background-color: $colorViolet;
        &__go-to-profile {
            align-self:end;
            padding: 1rem;
        }
        &__search
         {
            width: 80%;
            align-self:center;
            padding-bottom: 1em;
            input{
                border: none;
                border-bottom: 0.1em solid white;
                background-color: $colorViolet;
                font-weight: bold;
                color: white;
                text-align:center;
                &::placeholder {
                    color: white;
                }
            }
        }
        &__add-new-chat 
        {
            align-self:center;
            padding-bottom: 0.4em;
            button {
                background-color: white;
                border-radius: 10px;
                color: $colorViolet;
            } 
        }
    }
    &__search {
        width: 100%;
    }
    &__each-message_message{
        border: none;
        border-bottom: 0.1em solid $colorViolet;
        &:hover{
            background-color: $colorPastelPink;
            border-right: 10px solid $colorViolet;
        }
        &:first-child {
            border-top: 0.1em solid $colorViolet;
        }
        &_lastmessage{
            padding-left: 1.3em;
        }
        &_name{
            font-weight: bold;
            padding-left: 1em;
        }
    }
}

.chat{
    min-height: 100%;
    background-color: $colorSofBlue;
    display:flex;
    flex-direction: column;
    justify-content: center;

    &_info{
        text-align: center;
        height: 60px;
        padding: 10px;
        font-weight: bold;
        border-bottom: 0.1em solid $colorViolet;
        color: $colorIndigo;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
            button {
                background-color: $colorViolet;
                border-radius: 10px;
                color: white;
            }
    }
    &_message{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 2rem;
        overflow: scroll;
        & > div{
            max-width: 50%;
            margin-top: 5px;
            padding: 5px 10px;
            border-radius: 13px;
            color: white;
        }
        &_list_user {
            align-self:flex-end;
            background-color: $colorViolet;
        }
        &_list_addresser {
            align-self:flex-start;
            background-color: $colorIndigo;
        }
        &_start {
            text-align: center;
            font-weight: bold;
            font-size: larger;
            color: $colorViolet;
        }
    }
    &_new-message_form {
        height: 60px;
        padding: 10px;
        border-top: 0.1em solid $colorViolet;
        text-align:center;
        input {
            width: 80%;
            text-align:center;
            border: 0.1em solid $colorViolet;
            border-radius: 12px;
            background-color: $colorSofBlue;
            font-weight: bold;
            &::placeholder {
                color: $colorViolet;
            }
        }
        button {
            background-color: $colorViolet;
            border-radius: 10px;
            color: white;
        }
    }
}

.modals {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; 
    box-shadow: 0 3px 10px -0.5px rgba(0 0 0 / 20%); 
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    border-radius: 3px;
    background-color: $colorPastelPink;
    &__show {
    opacity: 1;
    visibility: visible; 
    }
}

.delete_user_list {
    &_one{
        &:hover{
            background-color: white;
            border-right: 10px solid $colorViolet;
        }

    }
}
