<html lang="en">
  {{> components/head style="../profile/profileStyle.scss" titlePage="Profile" }}
  <body>
    <main>
      <div class="container">
        {{> profile/components/profileInfo }}
      </div>
    </main>
  </body>
</html>
