<div class="all-chats">
    <div class="all-chats__header">
        <div class="all-chats__header__go-to-profile">{{{link}}}</div>
        <div class="all-chats__header__search">
        </div>
        <div class="all-chats__header__add-new-chat">
        {{{buttonLogout}}}
        {{{buttonCreate}}}
        </div>
    </div>
    <div class="all-chats__all-message">
        <ul class="all-chats__each-message_list">
        {{#each listallChats}}
            {{{this}}}
       {{/each}}
        </ul>
    </div>
</div>
