<div class="modals modals-add 
        {{#if addUserModal}}
        modals__show
        {{/if}}">
   <div class="add-user">
       Invite 
       </br>
       {{{inputUserName}}}
       {{{srechButton}}}
       {{{errorFind}}}
   </div>
   </br>
     {{{closeButton}}}
</div>
