<div class="modals modals-del 
        {{#if deleteUserModal}}
        modals__show
        {{/if}}">
   <div class="delete_user">
        Select user delete: 
       </br>
       <div class="delete_user_list">
       {{{centerElement}}}
       </div>
   </div>
   </br>
     {{{closeButton}}}
     </br>
   *if you want to delete yourself, delete the chat
</div>
