<div class="modals modals-del 
        {{#if addUserModal}}
        modals__show
        {{/if}}">
   <div class="delete_user">
       Invite 
       </br>
       HELOOOOOOOY
       {{!-- {{{inputUserName}}} --}}
       {{!-- {{{srechButton}}} --}}
       {{!-- {{{errorFind}}} --}}
   </div>
   </br>
     {{{closeButton}}}
</div>
