<form type="submit">
    <div>
        New Chat
    </div>
    </br>
    {{{inputNameChat}}}
    <button class="chat_new-message_button">Create</button>
    <br>
    <span class="error-message-title">{{errorMessage}}</span>
</form>
